
.pricing-card {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  width: 220px; /* Reduced width */
  height: 280px; /* Reduced height */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Ensures even spacing */
}

/* Image */
.cardimg {
  height: 110px;
  width: auto;
  object-fit: contain;
}

/* Centering Text */
.card-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; /* Adds spacing between elements */
}

/* Title */
.card-title {
  font-size: 15px;
  color: #4a4a4a;
  font-weight: bold;
  margin-top: 5px;
}

/* Subtitle */
.card-subtitle {
  font-size: 12px;
  color: #888;
}

/* Price */
.price {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

/* Button */
.button.added {
  background-color: white; 
  color: black; 
  border: 1px solid black; 
  cursor: not-allowed; 
}
.button {
  display: inline-block;
  /* width: 90%; */
  width: 60%;
  padding: 5px;
  text-align: center;
  background-color: rgb(25, 24, 24);
  color: white;
  /* border-radius: 30px; */
  border-radius: 23px;
  border: 2px solid black;
  text-decoration: none;
  font-size: 12px;
  transition: 0.3s;
}
.card-footer{
  display: flex;
  gap: 25px;
}
.button:hover {
  background-color: white;
  color: black;
}


 
